.container,.form-control{
    width: 100%;
}
.box{
    width: 100%;
}
.input-group-text-box{
    border-radius: 0px;
}
.searchFont{
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 2.5px;
}
